# Variables d'environnement Netlify pour Firestore REST API
FIREBASE_PROJECT_ID=locsenegal-c51f3
FIREBASE_API_KEY=AIzaSyA8lP2C_4KP_djeKCCXp9vaL22Q6RhJGGU

# Variables d'authentification PayDunya V1
PAYDUNYA_MASTER_KEY=KC6G-LNKI-CWUR-6LMA-W2LL
PAYDUNYA_PRIVATE_KEY=SOTG-LEUA-VFZG-WVJ7-COQF
PAYDUNYA_PUBLIC_KEY=BZIW-ECWZ-C84H-MTE7-N64Q
PAYDUNYA_TOKEN=3WHD-VXAM-R9Q3-MXSV-U2ME
PAYDUNYA_SECRET_KEY=EZFQ-LUMI-7ZD5-ECD5-GVXR

# À configurer dans Netlify Dashboard → Settings → Environment Variables
